# Xcode
*.xcuserstate
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserdatad
*.xcscheme
*.breakpoints
*.log

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Testing
*.swiftpm

# Build
build/
*.build
*.dSYM

# Temporary files
*.tmp
*.temp

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Debug
*.debug

# Personal
*.personal
*.private

# Local secret config
WhatToEat/AppConfig.swift
WhatToEat/AppConfig.local.swift
WhatToEat/Config/Config.xcconfig
backend/cloudflare-worker/.dev.vars

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
